<h2 mat-dialog-title>Editar Contato</h2>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Nome" formControlName="nome">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                Email inválido!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone" formControlName="telefone">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <!-- Mostrando a imagem atual -->
        <img *ngIf="form.get('urlImagemPerfil')?.value" [src]="form.get('urlImagemPerfil')?.value" alt="Imagem atual" width="100">

        <!-- Input para selecionar uma nova imagem -->
        <input type="file" (change)="handleFileInput($event)" accept="image/*">

        <!-- Pré-visualização da nova imagem selecionada -->
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Pré-visualização da imagem" width="100">

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="salvar()">Salvar</button>
</mat-dialog-actions>
