<h2 mat-dialog-title>Contato</h2>

<mat-dialog-content>
    <form enctype="multipart/form-data" [formGroup]="form" class="form-layout">
        <div class="top-section">
            <div class="left-column">
                <img [src]="previewUrl || '../../../assets/default-profile-pic.png'" alt="Pré-visualização da imagem" class="preview-image">
            </div>
            
            <div class="right-column">
                <input #urlImagemPerfil type="file" (change)="handleFileInput($event)" accept="image/*" class="file-input">
            </div>
        </div>

        <div class="bottom-section">
            <div class="column">
                <mat-form-field>
                    <input matInput placeholder="Nome" formControlName="nome">
                    <mat-error *ngIf="form.get('nome')?.touched">
                        Nome é obrigatório!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="form.get('email')?.hasError('email')">
                        Email inválido!
                    </mat-error>
                    <mat-error *ngIf="form.get('email')?.touched">
                        Email é obrigatório!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field>
                    <input matInput #telefoneInput placeholder="Telefone" formControlName="telefone" (keyup)="applyPhoneMask($event)">
                    <mat-error *ngIf="form.get('telefone')?.hasError('incorrect')">
                        Formato de telefone inválido!
                    </mat-error>
                    <mat-error *ngIf="form.get('telefone')?.touched">
                        Telefone é obrigatório!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="dataNascimento">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="form.get('dataNascimento')?.touched">
                        Data de nascimento é obrigatória!
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="salvar()">Salvar</button>
</mat-dialog-actions>
