/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    background-color: var(light-theme, --background);
    color: var(light-theme, --on-background);
}

body {
    background-color: var(--background);
    font-family: 'Roboto Mono', monospace;
    color: var(--on-background);
    margin: 0;
    padding: 0;
}

.custom-snackbar {
    background-color: #a8ff78 !important;
    color: #FFFFFF;            
    font-size: 16px;          
    border-radius: 8px;       
    padding: 4px 8px;       
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.dark-theme {
    --background: #1d1d1d;
    --on-background: #f1f1f1;
    --primary: #116DFF;
    --on-primary: #f1f1f1;
    --secondary: #a8ff78;
    --on-secondary: #000000;
    --surface: #2d2d2d;
    --on-surface: #f1f1f1;
    --error: #ff1744;
    --on-error: #000000;
    --success: #00e676;
    --on-success: #000000;
    --warning: #ff9100;
    --on-warning: #000000;
    --info: #2196f3;
    --on-info: #000000;
    --border: #f1f1f1;
    --on-border: #000000;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.light-theme {
    --background: #d6d6d6;
    --on-background: #000000;
    --primary: #116DFF;
    --on-primary: #f1f1f1;
    --secondary: #a8ff78;
    --on-secondary: #000000;
    --surface: #FFFFFF;
    --on-surface: #000000;
    --error: #ff1744;
    --on-error: #000000;
    --success: #00e676;
    --on-success: #000000;
    --warning: #ff9100;
    --on-warning: #000000;
    --info: #2196f3;
    --on-info: #000000;
    --border: #000000;
    --on-border: #000000;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}